# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
eggs/
*.egg
*.whl
*.sqlite3
*.db
.pytest_cache/

# Virtual Environment
venv/
env/
.env

# IDE and Editor
.idea/
.vscode/
*.swp

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
.DS_Store
Thumbs.db
